<div class="row">
	<div class="large-12 columns home_container">
		<h2 class="logo">
		  <span class="logo_highlight">un</span>ternship
		</h2>
		<div class="large-offset-2 large-8 columns">
	  <p class="message">
	    Connecting organizations that do good work with workers who want to do good.
	  </p>
	  <div class="large-5 columns">
	    <%= link_to 'Job seeker? Apply!', tasks_url, class: 'large button expand' %>
	  </div>
	  <div class="large-5 columns">
	    <%= link_to 'Talent seeker? Post!', new_task_url, class: 'large button expand' %>
	  </div>
	  </div>
	</div>
</div>
