<div class="row">
	<div class="twelve columns home_container">
		<h2 class="logo">
		  <span class="logo_highlight">un</span>ternship
		</h2>
		<p class="message">
		  Connecting organizations that do good work with workers who want to do good.
		</p>
		<div class="five columns">
		  <%= link_to 'Job seeker? Apply!', '', class: 'large button expand' %>
		</div>
		<div class="five columns">
		  <%= link_to 'Talent seeker? Post!', '', class: 'large button expand' %>
		</div>
	</div>
</div>
