<p>Thanks so much for posting a task!</p>

<p>You can see your task <%= link_to 'here', task_url(@task) %>

<p>We're accepting applications now and will let you know once we have a match for you.</p>

<p>Thanks,</p>

<p>Unternship Team</p>