<p>Thanks so much for submitting an application!</p>

<p>You can see what task you applied to here <%= link_to 'here', task_url(id: @applicant.task_id) %>

<p>We will let you know soon if we have a match for you.</p>

<p>Thanks,</p>

<p>Unternship Team</p>