<p>Thanks so much for submitting an application!</p>

<p>You can see the application you submitted <%= link_to 'here', assignment_profile_url(id: @assignment.id) %></p>

<p>We will let you know soon if we have a match for you.</p>

<p>Thanks,</p>

<p>Unternship Team</p>