//INDEX

h2.projects_header {
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

table.projects {
	
	border: none;
	
	thead tr {
		background: $green;
		
		th {
			color: white;
			font-size: 16px;
			text-align: center;
		}
	}
	tbody tr {
		border-bottom: 1px solid $green;
		
		td {
			text-align: center;
			vertical-align: middle;
		}
	}
}

//NEW

input[type="submit"] {
	background: $green;
}
input[type="submit"]:hover {
	background: $dark-grey;
}

//SHOW

div.task_detail_container {
	background: #c3c3c3;
	padding: 20px;
	margin-bottom: 20px;
}

p.task_detail_header {
	color: white;
}

p.green {
	color: $green;
}

label.label_checkbox {
	padding-left: 22px;
}

span.check_box {
	 margin-left: 12px;
}