<footer>
	<div class="container">
	
		<div class="row">
			<div class="twelve columns">
				<nav class="footer_nav">
					<ul>
						<li class="about_us"><%= link_to 'About Us', '' %></li>
						<li><%= link_to 'Contact', 'mailto:unternship@gmail.com?subject=Hello' %></li>
					</ul>
				</nav>
			</div>
		</div>
	
	</div>
</footer>